doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(
      name="viewport",
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
    )
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#4DB6AC")
    meta(name="description", content="locapos(ろけぽす)は位置情報を共有するサービスです.")
    meta(name="keywords", content="gps,locapos,位置情報")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
    )
    link(
      rel="stylesheet",
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    )
    link(
      rel="stylesheet",
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    )
    link(
      rel="stylesheet",
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css"
    )
    link(rel="stylesheet", href="/css/map.css")
    link(rel="prefetch", href="/res/0/0.png")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js", defer)
    meta(name="color-scheme", content="light dark")
    title LocaPos | Overview
  body
    .layout-root
      #search-bar
        .search-bar
          button#menu.effect.icon(popovertarget="popover")
            i.bi.bi-three-dots-vertical
          form#search-form
            input#place-search(placeholder="Search in locapos")
            button#clear.effect.icon
              i.bi.bi-x
      #map-canvas: p "loading..."
    #popover(popover)
      .content
        p.caption Theme
        .segments
          label.segment
            input#daynight_day(type="radio", name="daynight")
            span Day
          label.segment
            input#daynight_auto(type="radio", name="daynight", checked)
            span Auto
          label.segment
            input#daynight_night(type="radio", name="daynight")
            span Night

        p.caption Layers
        .switch.pico
          label
            input#swTraffic(type="checkbox", role="switch")
            span Traffic
        .switch.pico
          label
            input#swWeather(type="checkbox", role="switch")
            span Weather
    button#focus_trick
    script(
      src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAPS_API_KEY}&libraries=places&loading=async`,
      defer
    )
    script(src="https://unpkg.com/@googlemaps/markerwithlabel/dist/index.min.js", defer)
    script(src="/js/app.js", defer)
    script.
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");
      ga("create", "UA-87698594-1", "auto");
      ga("send", "pageview");
